

    <div id="card">
        <div class="order-block"><span class="order"> Замовлення<span class="counter">0</span></span>
            <button class="btn btn-outline-warning span-text length">Очистити замовлення</button>
        </div>
        <div id="cart" style="background-color:#dcd6f7">
        </div>
         <div class="bottom-buy"><span class="order">Сума замовлення: </span><span class="counter1">0</span>
        <a class="btn btn-warning btn-lg size" style="margin-left: 130px" >Замовити</a> </div>
    </div>

    <div id="square-bottom" style="display: none"><span class="discount">Цього тижня</span>
        <span class="discount" style="display: none">знижка -20%</span>
        <hr>
        <span class="discount last" style="display: none">на все</span></div>
    <div id="triangle-bottomleft" style="display: none"></div>
    <div id="triangle-bottomright" style="display: none"></div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiOn7yEhTr7bHTyCt78FL8PzBU3inOdAs&callback=initMap" async defer></script>

<script src="https://static.liqpay.ua/libjs/checkout.js" async></script>